/* .bg-info-subtle {
    box-shadow: 0px 0px 4px 2px lightblue, 0px 0px 4px 2px rgb(206, 215, 218);
} */

span{
    font-weight: bold;
}

.card-text:hover{
    transform: scale(1.02);
    transition: transform .3s;
}

button.btn.btn-primary:hover {
    transition: background-color 1s;
}