/* .bg-info-subtle {
    box-shadow: 0px 0px 4px 2px lightblue, 0px 0px 4px 2px rgb(206, 215, 218);
} */

span{
    font-weight: bold;
}

.card-text:hover{
    padding-left: 1em;
    background-color: rgba(0, 0, 255, 0.25);
    border-radius: 20px;
    /* transform: scale(1.01); */
    transition: 
        /* transform .9s,  */
        background-color 0.2s, 
        padding-left 0.4s;
}

button.btn.btn-primary:hover {
    transition: background-color 1s;
}